services:
  - type: web
    name: django-hello
    env: python
    pythonVersion: 3.11             
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn myproject.myproject.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: myproject.settings
